body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f4f8fb;
            color: #333;
        }
        header {
            background-color: #0078d7;
            color: white;
            text-align: center;
            padding: 1em 0;
        }
        nav {
            background-color: #005fa3;
            padding: 0.5em;
            text-align: center;
        }
        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
        section {
            padding: 40px;
            max-width: 900px;
            margin: auto;
            
        }
        h2 {
            color: #0078d7;
        }
        footer {
            background-color: #0078d7;
            color: white;
            text-align: center;
            padding: 0px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
